In [2]:
import pandas as pd

In [29]:
df1 = pd.read_csv('store_data_0405.csv', index_col=0)
df2 = pd.read_csv('0405_구의동.csv', index_col=0)

In [30]:
df = pd.concat([df1, df2], axis=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34186 entries, 0 to 86
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   store         34186 non-null  object
 1   address       34186 non-null  object
 2   url           34186 non-null  object
 3   openhr        34186 non-null  object
 4   menu          34186 non-null  object
 5   photo_exists  34186 non-null  int64
 6   mean_rate     34060 non-null  float64
dtypes: float64(1), int64(1), object(5)
memory usage: 2.1+ MB

In [32]:
df = pd.concat([df1, df2], axis=0)
df.drop_duplicates(inplace=True)
df.reset_index(drop=True, inplace=True)
df.to_csv('store_data_0405.csv')

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34186 entries, 0 to 34185
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   store         34186 non-null  object
 1   address       34186 non-null  object
 2   url           34186 non-null  object
 3   openhr        34186 non-null  object
 4   menu          34186 non-null  object
 5   photo_exists  34186 non-null  int64
 6   mean_rate     34060 non-null  float64
dtypes: float64(1), int64(1), object(5)
memory usage: 1.8+ MB

In [3]:
main = pd.read_csv('review_data_0406.csv', index_col=0)
sub = pd.read_csv('review_data_0406(2).csv', index_col=0)

df = pd.concat([main, sub], axis=0)
df

,store_name,address,taste_score,quantity_score,delivery_score,review,review_time
0,24시채린,서울특별시 광진구 중곡동 140-3 1층,5,5,5.0,너무 맛있게 잘 먹었습니다ㅎㅎ 다음에도 여기서 시켜먹을게요!,9시간 전
1,24시채린,서울특별시 광진구 중곡동 140-3 1층,5,5,NaN,잡채밥 너무 맛있어요,11시간 전
2,24시채린,서울특별시 광진구 중곡동 140-3 1층,5,5,NaN,맛있게 잘 먹었습니다,어제
3,24시채린,서울특별시 광진구 중곡동 140-3 1층,5,5,NaN,맛과 양이 타중국집과 비교할수 없네요. 채린 음식 먹다보면 배터질거 같아요. ^^,2일 전
4,24시채린,서울특별시 광진구 중곡동 140-3 1층,4,4,NaN,잘 먹 었 습 니 다,2일 전
...,...,...,...,...,...,...,...
26673,탕수육참잘하는집탕참-중곡점,서울특별시 광진구 중곡동 162-12 제일빌딩 1층 101호,5,5,5.0,맛있게잘먹었어요 ㅎㅎ,2023년 6월 18일
26674,탕수육참잘하는집탕참-중곡점,서울특별시 광진구 중곡동 162-12 제일빌딩 1층 101호,5,5,5.0,잘먹었네요,2023년 6월 17일
26675,탕수육참잘하는집탕참-중곡점,서울특별시 광진구 중곡동 162-12 제일빌딩 1층 101호,5,5,5.0,오오오ㅎ 기대안했는데 너무 부드럽고 바삭하고 맛있었어요ㅎ 떡볶이도 밥비벼먹었어요ㅎㅎ...,2023년 6월 17일
26676,탕수육참잘하는집탕참-중곡점,서울특별시 광진구 중곡동 162-12 제일빌딩 1층 101호,5,5,5.0,요청사항챙겨주시고 전화까지주셔서 감사합니다\n넘맛있고 매콤해요 ㅎㅎ,2023년 6월 15일
26677,탕수육참잘하는집탕참-중곡점,서울특별시 광진구 중곡동 162-12 제일빌딩 1층 101호,5,3,1.0,기존에 시켰을때 보다 오늘은 뭔가 양이 작은 느낌을 받았습니다.\n하지만 너무 맛있...,2023년 6월 4일

In [5]:
df.reset_index(drop=True, inplace=True)
df.to_csv('review_data_0406.csv')

In [6]:
main = pd.read_csv('review_data_0406.csv', index_col=0)
main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35348 entries, 0 to 35347
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   store_name      35348 non-null  object
 1   address         35348 non-null  object
 2   taste_score     35348 non-null  int64
 3   quantity_score  35348 non-null  int64
 4   delivery_score  34061 non-null  float64
 5   review          35348 non-null  object
 6   review_time     35348 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 2.2+ MB

In [11]:
store = pd.read_csv('store_data_0405.csv', index_col=0)
store

,store,address,url,openhr,menu,photo_exists,mean_rate
0,동성관-자양점,서울특별시 광진구 자양동 623-18 1층,https://www.yogiyo.co.kr/mobile/#/405486/,10:10 - 20:30,탕수육,1,4.8
1,동성관-자양점,서울특별시 광진구 자양동 623-18 1층,https://www.yogiyo.co.kr/mobile/#/405486/,10:10 - 20:30,싱글세트,1,4.8
2,동성관-자양점,서울특별시 광진구 자양동 623-18 1층,https://www.yogiyo.co.kr/mobile/#/405486/,10:10 - 20:30,탕수육세트A（짜장면2개）,1,4.8
3,동성관-자양점,서울특별시 광진구 자양동 623-18 1층,https://www.yogiyo.co.kr/mobile/#/405486/,10:10 - 20:30,탕수육세트B（짬뽕2개）,1,4.8
4,동성관-자양점,서울특별시 광진구 자양동 623-18 1층,https://www.yogiyo.co.kr/mobile/#/405486/,10:10 - 20:30,탕수육세트C（짜장면1개＋짬뽕1개）,1,4.8
...,...,...,...,...,...,...,...
36296,청춘한쌈,서울특별시 광진구 구의동 236-23 236-23 103호,https://www.yogiyo.co.kr/mobile/#/565255/,10:00 - 22:00,칠성사이다 355mL,1,4.9
36297,청춘한쌈,서울특별시 광진구 구의동 236-23 236-23 103호,https://www.yogiyo.co.kr/mobile/#/565255/,10:00 - 22:00,칠성사이다 1.25L,1,4.9
36298,청춘한쌈,서울특별시 광진구 구의동 236-23 236-23 103호,https://www.yogiyo.co.kr/mobile/#/565255/,10:00 - 22:00,생수 2L 페트병,1,4.9
36299,청춘한쌈,서울특별시 광진구 구의동 236-23 236-23 103호,https://www.yogiyo.co.kr/mobile/#/565255/,10:00 - 22:00,생딸기라떼 200ml,1,4.9
36300,청춘한쌈,서울특별시 광진구 구의동 236-23 236-23 103호,https://www.yogiyo.co.kr/mobile/#/565255/,10:00 - 22:00,생딸기라떼 （보틀） 1000mL,1,4.9

In [12]:
store1 = store[['store' , 'address']]
store1.drop_duplicates(inplace=True)
store1.reset_index(drop=True, inplace=True)
store1

/var/folders/x_/s6rt1hw118zdhq387czgy5q40000gn/T/ipykernel_27265/1442781704.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  store1.drop_duplicates(inplace=True)

           store                              address
0        동성관-자양점              서울특별시 광진구 자양동 623-18 1층
1          24시채린               서울특별시 광진구 중곡동 140-3 1층
2       바로덮밥-건대점            서울특별시 광진구 화양동 111-5 2층 6호
3       백억커피-화양점            서울특별시 광진구 화양동 21-1 1층 일부호
4      부어치킨-자양고점  서울특별시 광진구 자양동 553-41 자양우성5차아파트 311동
..           ...                                  ...
681     마라하오-구의점          서울특별시 광진구 구의동 248-135 1층 일부
682  레전드고기한상-군자점               서울특별시 광진구 군자동 463-5 2층
683   정우의도시락-건대점              서울특별시 광진구 군자동 355-11 2층
684   바다회포차-자양본점               서울특별시 광진구 자양동 794-8 1층
685         청춘한쌈     서울특별시 광진구 구의동 236-23 236-23 103호

[686 rows x 2 columns]

In [21]:
review = review[['store', 'address', 'taste_score', 'quantity_score', 'delivery_score', 'review', 'review_time']]
review.to_csv('review_data_0406.csv', index=False)

In [18]:
review = review.merge(store1, on='address', how='left')
review

,address,taste_score,quantity_score,delivery_score,review,review_time,store_name,store
0,서울특별시 광진구 중곡동 140-3 1층,5,5,5.0,너무 맛있게 잘 먹었습니다ㅎㅎ 다음에도 여기서 시켜먹을게요!,9시간 전,NaN,24시채린
1,서울특별시 광진구 중곡동 140-3 1층,5,5,NaN,잡채밥 너무 맛있어요,11시간 전,NaN,24시채린
2,서울특별시 광진구 중곡동 140-3 1층,5,5,NaN,맛있게 잘 먹었습니다,어제,NaN,24시채린
3,서울특별시 광진구 중곡동 140-3 1층,5,5,NaN,맛과 양이 타중국집과 비교할수 없네요. 채린 음식 먹다보면 배터질거 같아요. ^^,2일 전,NaN,24시채린
4,서울특별시 광진구 중곡동 140-3 1층,4,4,NaN,잘 먹 었 습 니 다,2일 전,NaN,24시채린
...,...,...,...,...,...,...,...,...
61920,서울특별시 광진구 화양동 18-24 1층,5,5,5.0,육회초밥이랑 덮밥 스테이크초밥 다 먹어봤는데\n스테이크초밥은 3개정도가 진짜 최고로...,2023년 6월 3일,육회바른연어-화양점,육회바른연어-화양점
61921,서울특별시 광진구 화양동 18-24 1층,5,5,5.0,맛잇ㅇ므 배달빨라요,2023년 6월 3일,육회바른연어-화양점,육회바른연어-화양점
61922,서울특별시 광진구 화양동 18-24 1층,5,5,5.0,육회도 좋았지만 스테이크초밥이 찐 맛집입니다,2023년 6월 2일,육회바른연어-화양점,육회바른연어-화양점
61923,서울특별시 광진구 화양동 18-24 1층,5,5,5.0,맛있어요 최고 ~!,2023년 6월 2일,육회바른연어-화양점,육회바른연어-화양점
61924,서울특별시 광진구 화양동 18-24 1층,5,5,5.0,맛있게 먹었습니다ㅎㅎ,2023년 6월 2일,육회바른연어-화양점,육회바른연어-화양점

In [23]:
df5 = pd.read_csv('review_data_0406.csv', index_col=0)
df5

,store,address,taste_score,quantity_score,delivery_score,review,review_time
0,24시채린,서울특별시 광진구 중곡동 140-3 1층,5,5,5.0,너무 맛있게 잘 먹었습니다ㅎㅎ 다음에도 여기서 시켜먹을게요!,9시간 전
1,24시채린,서울특별시 광진구 중곡동 140-3 1층,5,5,NaN,잡채밥 너무 맛있어요,11시간 전
2,24시채린,서울특별시 광진구 중곡동 140-3 1층,5,5,NaN,맛있게 잘 먹었습니다,어제
3,24시채린,서울특별시 광진구 중곡동 140-3 1층,5,5,NaN,맛과 양이 타중국집과 비교할수 없네요. 채린 음식 먹다보면 배터질거 같아요. ^^,2일 전
4,24시채린,서울특별시 광진구 중곡동 140-3 1층,4,4,NaN,잘 먹 었 습 니 다,2일 전
...,...,...,...,...,...,...,...
61920,육회바른연어-화양점,서울특별시 광진구 화양동 18-24 1층,5,5,5.0,육회초밥이랑 덮밥 스테이크초밥 다 먹어봤는데\n스테이크초밥은 3개정도가 진짜 최고로...,2023년 6월 3일
61921,육회바른연어-화양점,서울특별시 광진구 화양동 18-24 1층,5,5,5.0,맛잇ㅇ므 배달빨라요,2023년 6월 3일
61922,육회바른연어-화양점,서울특별시 광진구 화양동 18-24 1층,5,5,5.0,육회도 좋았지만 스테이크초밥이 찐 맛집입니다,2023년 6월 2일
61923,육회바른연어-화양점,서울특별시 광진구 화양동 18-24 1층,5,5,5.0,맛있어요 최고 ~!,2023년 6월 2일
61924,육회바른연어-화양점,서울특별시 광진구 화양동 18-24 1층,5,5,5.0,맛있게 먹었습니다ㅎㅎ,2023년 6월 2일